<div style="position: relative; margin: 0 10px; text-align: center" id="entry">
    <h1>{{title}}</h1>
    <p>Welcome to {{title}} embedded in <span id='parent'></span></p>
    <br>
    <br>
    <br>
    <div>
        <h2>Test OAuth</h2>
        <div class="oauth-error"></div>
        <a class="oauth" href="#" onclick="makeAuth(event)" style="display: none;">Sign-in with your Mattermost account.</a>
    </div>

</div>