<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body style="background: #fff">
{{{body}}}
<script src="/javascripts/app.js"></script>
</body>
</html>
